<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <%- include("./partials/nav") %>
        <h1>Full Menu</h1>

        <h2>Mains</h2>
        <ul>
            <% menu.forEach((menuItem)=> { %>
                <% if (menuItem.category==="mains" ) { %>
                    <li>
                        <h4>
                            <%= menuItem.name %>
                        </h4>
                        <p>
                            Price: <%= menuItem.price %>
                        </p>
                        <p>
                            Rating: <%= menuItem.rating %>
                        </p>
                        <p>
                            Details: <%= menuItem.details %>
                        </p>
                    </li>
                    <% } %>
                        <% }) %>
        </ul>

        <h2>Desserts</h2>
        <ul>
            <% menu.forEach((menuItem)=> { %>
                <% if (menuItem.category==="desserts" ) { %>
                    <li>
                        <h4>
                            <%= menuItem.name %>
                        </h4>
                        <p>
                            Price: <%= menuItem.price %>
                        </p>
                        <p>
                            Rating: <%= menuItem.rating %>
                        </p>
                        <p>
                            Details: <%= menuItem.details %>
                        </p>
                    </li>
                    <% } %>
                        <% }) %>
        </ul>

        <h2>Sides</h2>
        <ul>
            <% menu.forEach((menuItem)=> { %>
                <% if (menuItem.category==="sides" ) { %>
                    <li>
                        <h4>
                            <%= menuItem.name %>
                        </h4>
                        <p>
                            Price: <%= menuItem.price %>
                        </p>
                        <p>
                            Rating: <%= menuItem.rating %>
                        </p>
                        <p>
                            Details: <%= menuItem.details %>
                        </p>
                    </li>
                    <% } %>
                        <% }) %>
        </ul>
</body>

</html>